.section-list__item-content {
	padding: 80px;
}

.section-list__item-content-inner {
	max-width: 420px;
}

.section-list__item-img {
	min-height: 700px;
}
.section-list__item-title {
	font-size: 50px;
}

.section-list__item-desc {
	padding: 24px 0 30px;
	font-size: 16px;
}

.section-list__item-link {
	font-size: 11px;
}

.section-list__item-link::after {
	width: 99px;
	margin-left: 20px;
}


.section-list__item-link:hover::after,
.section-list__item-link:focus::after {
	width: 198px;
}