@import "_variables";
.catalog-items {
  list-style: none;
  margin: 0;
  padding: 0 0 0 2px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 20%;
  }
}

@media(max-width: 1580px) {
  .catalog-items__item {
    width: 25%;
  }
}

@media(max-width: 1350px) {
  .catalog-items__item {
    width: 33.33%;
  }
}

@media(max-width: 740px) {
  .catalog-items__item {
    width: 50%;
  }
}
@media(max-width: 540px) {
  .catalog-items {
    padding: 0 20px;
  }
  .catalog-items__item {
    width: 100%;
  }
}