.example {
	display: -ms-grid;
	display: grid;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
	background: -o-linear-gradient(top, white, black);
	background: linear-gradient(to bottom, white, black);
}


.header {
	position: absolute;
	z-index: 80;
	left: 0;
	right: 0;
	top: 0;
	padding: 12px 0;
	will-change: transform;
}

.header._fixed {
	position: fixed;
	-webkit-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);

}

.header._sticky {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);

	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header--hero {
	background-color: transparent;
}

.header--inner, .header._sticky {
	background-color: #5ae6ff;
}

.h-logo {
	display: block;
	color: inherit;
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.header--main .h-logo {
	opacity: 0;
}

.header--main._sticky .h-logo {
	opacity: 1;
}

.header--hero .h-logo {
	color: #fff;
}

.header--inner .h-logo, .header._sticky .h-logo {
	color: #363c42;
}

.h-logo svg {
	display: block;
	width: 110px;
	height: 40px;
}

.h-menu-btn {
	-webkit-appearance: none;
	margin: 0 0 0 auto;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	background-color: transparent;
	outline: 0;
	line-height: 1;
	cursor: pointer;
}

.h-menu-btn__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.hamburger {
	position: relative;
	width: 24px;
	height: 14px;
}

.hamburger::before, .hamburger::after, .hamburger__bar {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #373c41;
	will-change: transform;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hamburger__bar {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.hamburger::before {
	top: 0;
}

.hamburger::after {
	bottom: 0;
}

.h-menu-btn__text {
	display: none;
	font-weight: 600;
	font-size: 12px;
}

.header--hero .hamburger__bar, .header--hero .hamburger::before, .header--hero .hamburger::after {
	background-color: #fff;
}

.header._sticky .hamburger__bar, .header._sticky .hamburger::before, .header._sticky .hamburger::after {
	background-color: #373c41;
}

.__show-mobile-menu .hamburger::before {
	top: 50%;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.__show-mobile-menu .hamburger__bar {
	opacity: 0;
	right: -28px;
}

.__show-mobile-menu .hamburger::after {
	top: 50%;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.__show-mobile-menu .h-menu-btn__hamburger::after {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}

.header--hero .h-menu-btn__text {
	color: #fff;
}

.header._sticky .h-menu-btn__text,
.header--inner .h-menu-btn__text {
	color: #373c41;
}

.mobile-menu {
	display: none;
	position: fixed;
	z-index: 70;
	top: 64px;
	left: 0;
	right: 0;
	padding: 0 28px 0 40px;
	background-color: #fff;
	will-change: transform;
	-webkit-transform: translate(0, -120%);
	-ms-transform: translate(0, -120%);
	transform: translate(0, -120%);
	-webkit-transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
	-o-transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
	transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
	transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
	transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;

}

.mobile-menu.__loaded {
	display: block;
}

.__show-mobile-menu .mobile-menu.__loaded {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.mobile-menu__head {
	background-color: #5ae6ff;
	display: none;
}

.mobile-menu__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 10px 38px;
}

.mobile-menu__close {
	display: inline-block;
	-webkit-appearance: none;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	background-color: transparent;
	outline: 0;
	line-height: 1;
	cursor: pointer;
}

.mobile-menu__close svg {
	width: 19px;
	height: 19px;
	fill: #373c41;
}

.mobile-menu__close:hover svg,
.mobile-menu__close:focus svg {
	fill: #5ae6ff;
}

.mobile-menu .h-nav {
	display: block;
	padding-top: 46px;
	padding-bottom: 28px;
	border-bottom: 1px solid rgba(55, 60, 65, 0.1);
}

.mobile-menu .h-nav__link {
	display: block;
	padding-top: 18px;
	padding-bottom: 18px;
	font-size: 24px;
	font-weight: bold;
}

.mobile-menu .h-nav__link.h-nav__link--current {
	color: #6ccfe0;
}

.h-nav__link {
	position: relative;
	color: inherit;
	text-decoration: none;
}

.mobile-menu__bottom {
	padding: 36px 0 40px;
}

.mobile-menu__socials {
	display: none;
}

.mobile-menu .socials {
	margin-left: -8px;
	margin-right: -8px;
}

.mobile-menu .socials__item {
	padding-left: 8px;
	padding-right: 8px;
}

.mobile-menu__socials svg {
	width: 23px;
	height: 24px;
	fill: #373c41;
}

.mobile-menu__logo {
	color: #373c41;
}

.mobile-menu__logo svg {
	width: 214px;
	height: 78px;
}

.overlay {
	position: fixed;
	z-index: 60;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(55, 60, 65, 0.5);
	opacity: 0;

	-webkit-transform: translateY(200%);
	-ms-transform: translateY(200%);
	transform: translateY(200%);

	-webkit-transition: opacity 0.8s ease-out;
	-o-transition: opacity 0.8s ease-out;
	transition: opacity 0.8s ease-out;

}

.__show-mobile-menu .overlay {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: opacity 0.8s ease-out;
	-o-transition: opacity 0.8s ease-out;
	transition: opacity 0.8s ease-out;
}

@media (max-width: 767px) {
	.mobile-menu {
		max-height: calc(100vh - 64px);
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.header--hero {
		background-color: #5ae6ff;
	}

	.header--main .h-logo {
		opacity: 1;
	}

	.header--hero .h-logo {
		color: #373c41;
	}

	.header--hero .hamburger::after,
	.header--hero .hamburger::before,
	.header--hero .hamburger__bar {
		background-color: #373c41;
	}
	body.__show-mobile-menu {
		max-height: 100vh;
		overflow: hidden;
	}
}

@media (min-width: 768px) {
	.h-logo svg {
		width: 131px;
		height: 48px;
	}

	.h-menu-btn__text {
		margin-right: 12px;
		display: block;
	}

	.mobile-menu {
		z-index: 85;
		top: 0;
		padding: 0;
	}

	.mobile-menu__body {
		padding-left: 38px;
		padding-right: 38px;
	}



	.mobile-menu__bottom {
		padding: 18px 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.mobile-menu__socials {
		display: block;
	}

	.mobile-menu__head {
		display: block;
	}

	.mobile-menu__head::after {
		content: '';
		display: block;
		width: 100%;
		height: 210px;
		background-repeat: no-repeat;
		background-size: auto;
		background-position: 150% -150%;
		background-image: url('../img/arrows-pattern-menu-white.svg');
		will-change: background-position;

		-webkit-transition: background-position 1.5s ease-in-out 1.1s;
		-o-transition: background-position 1.5s ease-in-out 1.1s;
		transition: background-position 1.5s ease-in-out 1.1s;
	}
	.__show-mobile-menu .mobile-menu__head::after {
		background-position: 0 0;
	}
	.mobile-menu__close {
		margin-top: 8px;
	}

}



@media (min-width: 768px) and (max-width: 991px) {
	.mobile-menu .h-nav {
		padding: 40px 0 44px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	.mobile-menu .h-nav__link {
		padding: 0;
		margin-right: 40px;
	}

	.mobile-menu .h-nav__link:last-child {
		margin-right: 0;
	}
}


@media (min-width: 992px) {

	.mobile-menu.__loaded {
		bottom: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.mobile-menu__head {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 64.43vw;
	}
	.mobile-menu__head::after {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		margin-top: 5.41vw;
		background-size: cover;
		background-position: 100% 0;
	}


	.mobile-menu__body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		width: 35.57vw;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		padding-right: 9.5vw;
		padding-left: 6.66vw;
	}
	.mobile-menu__top {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		padding-top: 5.85vw;
		padding-left: 10.76vw;
	}

	.mobile-menu .h-nav {
		padding-top: 5.85vw;
		padding-bottom: 5.85vw;
		border-bottom: 0;
	}


	.mobile-menu .h-nav__link {
		font-size: 28px;
		padding: 0;
		margin-bottom: 40px;
	}

	.mobile-menu .h-nav__link:last-child {
		margin-bottom: 0;
	}

	.mobile-menu .h-nav__link:hover,
	.mobile-menu .h-nav__link:focus {
		color: #5ae6ff;
	}

	.mobile-menu__socials .socials__link:hover svg {
		fill: #5ae6ff;
	}

	.mobile-menu__bottom {
		margin-top: auto;
		padding-top: 12px;
		padding-bottom: 48px;
		display: block;
	}
	.mobile-menu__socials {
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px solid rgba(55, 60, 65, 0.1);
	}
	.mobile-menu__socials svg {
		width: 25px;
		height: 24px;
	}
	.mobile-menu__close {
		margin-top: 0;
		position: absolute;
		right: 32.2vw;
		top: 1.5vw;
	}
	.mobile-menu .btn-arrow--fully-black:hover svg {
		fill: #5ae6ff;
	}
	.mobile-menu__logo svg {
		width: 24.81vw;
		height: 9.07vw;
	}


}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.mobile-menu__head::after {
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
		background-position: 0 0;
	}

}