.title-h1.title--faces {
	position: relative;
	z-index: 2;
}

.wide-page.wide-page--faces {
	margin-left: 0;
	margin-right: 0;
	min-height: 80vh;
	padding-top: 46px;
}

.faces-section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding: 40px 0 48px;
}

.faces-section::before {
	content: '';
	position: absolute;
	z-index: 0;
	top: -100vh;
	left: 0;
	right: 0;
	bottom: 72%;
	background-color: #5ae6ff;
}

.title-h2.title-h2--faces {
	position: relative;
	margin-bottom: 84px;
}

.faces-content {
	position: relative;
}

.faces-slider-wrapper {
	position: relative;
}

.faces-slider {
	display: none;
}

.faces-slider.slick-initialized {
	display: block;
}

.faces-slider-wrapper__nav {
	margin-bottom: 34px;
	padding-right: 16px;
}

.face {
	width: 260px;
}

.faces-slider__item {
	margin-right: 28px;
}

.face__left {
	margin-bottom: 44px;
	position: relative;
}

.face__right {
	line-height: 1.7;
}

.face__img {
	position: relative;
	z-index: 2;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	padding-top: 103%;
	overflow: hidden;
}

.face__img img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
}

.face__number {
	position: absolute;
	font-size: 84px;
	font-weight: bold;
	color: #5ae6ff;
	line-height: 0.75;

	height: 63px;
	left: 20px;
	bottom: 0;
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	z-index: 2;
	overflow: hidden;
}

.face__number::before {
	content: attr(data-content);
	height: 50%;
	overflow: hidden;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.face__number--mobile {
	position: absolute;
	height: 63px;
	left: 14px;
	bottom: 0;
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	z-index: 2;
}

/*.face__number--desktop {*/
/*display: none;*/
/*}*/

.face__title {
	font-weight: bold;
	margin: 0 0 16px;
	font-size: 24px;
	line-height: 1.3;
}

.face__who {
	opacity: 0.8;
	font-size: 12px;
	margin-bottom: 28px;
}

.face__quote {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 600;
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.face__img img, .owl-carousel .owl-item .face__img img, .slick-slide .face__img img {
		display: none;
		/*for IE*/
	}
}

@media (max-width: 767px) {
	.container.container--faces {
		padding-right: 0;
	}

	.faces-section .slider-arrows button:not(.disabled):hover svg {
		fill: #373c41;
	}
}

@media (min-width: 576px) {
	.faces-slider-wrapper__nav {
		padding-right: 38px;
	}

}

@media (min-width: 768px) {

	.wide-page.wide-page--faces {
		padding-top: 104px;
		overflow: hidden;
	}


	.face {
		width: auto;
		display: flex;
	}

	.faces-slider-wrapper__nav {
		position: absolute;
		width: 44%;
		z-index: 3;
		left: auto;
		right: 0;
		top: 0;
		padding-right: 0;
		margin-bottom: 0;
	}

	.title-h2.title-h2--faces {
		margin-bottom: 30px;
	}

	.face__left {
		display: flex;
		width: 52%;
		margin-bottom: 0;
		padding-right: 88px;
	}

	.face__right {
		width: 48%;
		padding-top: 40px;
		padding-left: 4%;
		/*for .faces-slider-wrapper__nav.slider-panel*/
		padding-bottom: 26px;
	}

	.face__img {
		align-self: flex-start;
		width: 100%;
		padding-top: 97%;
	}

	.face__number {
		width: 137px;
		height: auto;
		top: 56px;
		left: calc(100% + 10px);
		bottom: auto;
		-webkit-transform: translate(-100%, 0);
		-moz-transform: translate(-100%, 0);
		-ms-transform: translate(-100%, 0);
		-o-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
		font-size: 108px;
	}

	.face__number::before {
		left: 0;
		height: auto;
		top: 0;
		bottom: 0;
		width: 39px;

	}

	.face__who {
		margin-bottom: 36px;
	}

	.face__quote {
		font-size: 16px;
	}

	.face__title {
		padding-top: 10px;
	}

	.faces-section::before {
		left: 0;
		right: auto;
		width: 24.47vw;
		bottom: -100vw;
	}

	.faces-slider__item {
		margin-right: 0;
	}
}

@media (min-width: 992px) {
	.wide-page.wide-page--faces {
		padding-top: 120px;
	}

	.faces-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 48px 0 80px;
	}

	.container.container--faces {
		width: 100%;
	}

	.face__left {
		width: 51.1%;
		padding-right: 130px;
	}

	.face__right {
		width: 48.9%;
		padding-left: 3%;
	}

	.face__img {
		padding-top: 76%;
	}

	.faces-section::before {
		width: 28.84vw;
	}

	.faces-section::after {
		width: 700px;
		height: 700px;
		right: 10%;
		bottom: -100px;
	}

	.face__title {
		padding-top: 30px;
	}

	.face__number {
		top: 70px;
		left: 100%;
		width: 177px;
		font-size: 140px;
	}

	.face__number::before {
		width: 47px;
	}

	.faces-slider-wrapper__nav {
		width: 45.9%;
	}

}

@media (min-width: 1200px) {

	.face__who {
		margin-bottom: 34px;
	}

	.face__title {
		font-size: 28px;
	}

	.faces-section::after {
		width: 750px;
		height: 750px;
		right: 26%;
		bottom: -70px;
	}
	.faces-slider__item {
		margin-left: 1px;
	}
}



/*# sourceMappingURL=faces.css.map */
