@import "variables";

.stats-section {
  position: relative;
  padding: 20px 0 0;

  @at-root &::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    bottom: 50%;
    background-color: $light-gray;
  }
}

.stats {
  position: relative;
  padding-bottom: 12px;

  @at-root &::before {
    content: '';
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $lemon-green;
  }
}

.stats-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @at-root &__item {
    width: 100%;
    padding: 24px;
  }
}

.stat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;

  @at-root &__number {
    display: block;
    position: relative;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 60px;
  }

  @at-root &__number-big {
    font-size: 84px;
  }
  @at-root &__number-sup {
    position: absolute;
    left: calc(100% + 6px);
    top: 4px;
    font-size: 28px;
  }

  @at-root &__decor {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  @at-root &__decor svg {
    display: block;
    width: 34px;
    height: 34px;
    fill: $white;
  }

  @at-root &__text-bold {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 16px;
  }

  @at-root &__text-normal {
    display: block;
    line-height: 1.7;
  }

}

@media(min-width: 576px) {
  .stats-section {
    padding-top: 30px;

    @at-root &::before {
      bottom: 60%;
    }

  }

  .stats-list {
    @at-root &__item {
      width: 50%;
    }

  }

}

@media(min-width: 768px) {

}

@media(min-width: 992px) {

  .stats-list {
    @at-root &__item {
      width: 25%;
    }
  }

  .stats-section {
    padding-top: 40px;

    @at-root &::before {
      bottom: 35%;
    }

  }

}

@media(min-width: 1200px) {

}

@media(min-width: 1366px) {

}