/* montserrat-regular - cyrillic_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  /* Safari, Android, iOS */ }
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */ }
html {
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.1;
  font-family: 'Montserrat', "Trebuchet MS", "Helvetica", sans-serif;
  color: #373c41; }

a {
  transition: color 0.3s ease-in-out; }

svg {
  transition: all 0.2s ease-in-out; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

input, button {
  font-family: inherit;
  font-size: inherit; }

img {
  max-width: 100%; }

/*sticky footer*/
body.sticky-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

body.sticky-footer .site-body {
  flex-grow: 1; }

.container {
  margin: 0 auto; }

.container--default {
  max-width: 1366px;
  padding-left: 16px;
  padding-right: 16px; }

.font-white {
  color: #ffffff !important; }

.title-link {
  color: inherit;
  text-decoration: none; }
  .title-link:hover, .title-link:focus {
    color: #92ca00; }

.link-no-underline {
  text-decoration: none; }

.link-underline--hover:hover,
.link-underline--hover:focus {
  text-decoration: underline; }

.link-color-default {
  color: inherit; }

.unset-list-styles {
  list-style: none;
  margin: 0;
  padding: 0; }

.title-h1 {
  margin: 0 0 24px;
  font-weight: bold;
  font-size: 28px; }

.title-h2 {
  font-weight: bold;
  margin: 0;
  font-size: 32px; }

.title-h3 {
  font-weight: bold;
  margin: 0;
  font-size: 16px; }

.btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 12px 19px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: inherit;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.btn_theme-green {
  background: #a7e600;
  color: #373c41; }

.btn.btn_size_l {
  line-height: 1.2;
  padding: 16px 68px; }

.btn_theme-white {
  border: 2px solid #a7e600;
  background-color: #fff;
  color: inherit; }
  .btn_theme-white:hover, .btn_theme-white:focus {
    background-color: #a7e600;
    color: #ffffff; }

.btn-arrow {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  background-image: none;
  border: 0;
  background-color: transparent;
  text-decoration: none;
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  transition: all 0.3s ease-in-out; }
  .btn-arrow__text {
    display: flex;
    align-items: center;
    color: inherit; }
  .btn-arrow svg {
    display: block;
    margin-left: 12px;
    width: 12px;
    height: 20px; }
  .btn-arrow.btn-arrow--left svg {
    margin-left: 0;
    margin-right: 12px; }

.btn-arrow--green {
  color: #7dad00; }
  .btn-arrow--green:hover, .btn-arrow--green:focus {
    color: #373c41; }
  .btn-arrow--green svg {
    fill: #373c41; }
  .btn-arrow--green:hover svg, .btn-arrow--green:focus svg {
    fill: #a7e600; }

.btn-arrow--black {
  color: #373c41; }
  .btn-arrow--black svg {
    fill: #ffffff; }

.btn-arrow--white {
  color: #ffffff; }
  .btn-arrow--white svg {
    fill: #a7e600; }

.top-page-go-back.top-page-go-back--news-page {
  padding: 22px 0; }

.header {
  padding: 13px 0 11px;
  background-color: #a7e600;
  color: #373c41; }

.h-nav {
  display: none;
  font-size: 12px;
  font-weight: 600;
  margin-right: auto; }
  .h-nav__link {
    position: relative;
    margin-right: 45px;
    color: inherit;
    text-decoration: none; }
    .h-nav__link:last-child {
      margin-right: 0; }
    .h-nav__link:hover, .h-nav__link:focus, .h-nav__link.h-nav__link--current {
      color: #ffffff; }
    .header .h-nav__link.h-nav__link--current::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -12px;
      background-color: #ffffff;
      height: 2px;
      color: #ffffff; }

.socials {
  display: flex;
  margin-left: -13px;
  margin-right: -13px; }
  .socials__item {
    padding-left: 13px;
    padding-right: 13px; }
  .socials__link {
    display: block; }
  .socials__link svg {
    width: 23px;
    height: 22px;
    fill: #373c41; }
  .socials__link:hover svg, .socials__link:focus svg {
    fill: #ffffff; }

.h-content {
  display: flex;
  align-items: center; }
  .h-content .socials__link svg {
    width: 23px;
    height: 22px;
    fill: #373c41; }
  .h-content .socials__link:hover svg, .h-content .socials__link:focus svg {
    fill: #ffffff; }

.h-mobile-menu-btn {
  -webkit-appearance: none;
  margin: 0 0 0 auto;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  background-color: transparent;
  outline: 0;
  line-height: 1; }
  .h-mobile-menu-btn__inner {
    display: flex;
    width: 100%;
    align-items: center; }
  .h-mobile-menu-btn__hamburger {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 14px;
    border-top: 2px solid #373c41;
    border-bottom: 2px solid #373c41; }
    .h-mobile-menu-btn__hamburger::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      left: 0;
      right: 0;
      background-color: #373c41; }
  .h-mobile-menu-btn__text {
    display: none;
    margin-left: 12px;
    font-weight: 600;
    font-size: 12px; }

.h-socials {
  display: none; }

.h-logo--header {
  display: block;
  margin-right: 24px; }
  .h-logo--header img {
    width: 54px;
    height: 40px; }

.mobile-menu {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  will-change: transform;
  -webkit-transform: translate(-105%, -105%);
  -moz-transform: translate(-105%, -105%);
  -ms-transform: translate(-105%, -105%);
  -o-transform: translate(-105%, -105%);
  transform: translate(-105%, -105%);
  -webkit-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .mobile-menu.__loaded {
    display: block; }
  .__show-mobile-menu .mobile-menu.__loaded {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  .mobile-menu__top {
    padding: 13px 16px; }
  .mobile-menu__logo img {
    width: 54px;
    height: 40px; }
  .mobile-menu__close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 12px;
    right: 12px;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    background-color: transparent;
    outline: 0;
    line-height: 1; }
  .mobile-menu__close svg {
    width: 40px;
    height: 40px;
    fill: #373c41; }
  .mobile-menu .h-nav {
    display: block;
    padding: 30px 0; }
    .mobile-menu .h-nav__link {
      display: block;
      padding: 18px 16px;
      font-size: 24px;
      font-weight: bold;
      margin: 0; }
      .mobile-menu .h-nav__link.h-nav__link--current {
        color: #7dad00; }

.container--hero {
  max-width: 1366px; }

.hero {
  position: relative; }
  .hero__inner {
    position: relative; }
  .hero__img {
    display: block;
    width: 100%; }
  .hero::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 27%;
    background-color: #a7e600; }
  .hero__arrow {
    position: absolute;
    z-index: 70;
    left: 50%;
    top: 110px;
    transform: translateX(-50%); }

.arrows-down {
  display: inline-block;
  text-decoration: none; }
  .arrows-down svg {
    fill: #373c41;
    width: 20px;
    height: 34px;
    will-change: transform;
    transition: all 0.4s ease-in; }
  .arrows-down:hover svg {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    fill: #a7e600; }

.hero-slider-wrapper {
  position: relative; }

.hero-logo {
  display: none;
  position: absolute;
  left: 0;
  z-index: 10;
  top: 27%;
  margin: 0;
  transform: translateY(-30%); }
  .hero-logo__link {
    display: block; }
  .hero-logo img {
    display: block;
    width: 140px; }

.hero-logo.hero-logo--title {
  margin: 0;
  font-size: 36px; }

.hero-slider__slide {
  position: relative;
  overflow: visible;
  padding-top: 80%;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; }
.hero-slider__slide img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }
.hero-slider__slide-text {
  position: absolute;
  margin: 0;
  top: -40px;
  left: 16px;
  right: 16px;
  padding-right: 120px;
  font-weight: bold;
  font-size: 24px; }
.hero-slider .owl-stage-outer {
  padding-top: 60px; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .hero-slider__slide img {
    display: none;
    /*for IE*/ } }
.slider-nav {
  display: flex;
  align-items: center; }
  .slider-nav__dots {
    display: inline-flex;
    width: 48px; }
    .slider-nav__dots .owl-dot, .slider-nav__dots.slider-nav__dots button.owl-dot {
      width: 100%;
      -webkit-appearance: none;
      margin: 0;
      padding: 4px 0;
      background: 0 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: 0;
      outline: 0;
      cursor: pointer; }
      .slider-nav__dots .owl-dot::before, .slider-nav__dots.slider-nav__dots button.owl-dot::before {
        content: '';
        display: block;
        opacity: 0.3;
        height: 2px;
        width: 100%;
        background-color: #373c41;
        transition: opacity 0.2s; }
      .slider-nav__dots .owl-dot:hover::before, .slider-nav__dots .owl-dot:focus::before, .slider-nav__dots.slider-nav__dots button.owl-dot:hover::before, .slider-nav__dots.slider-nav__dots button.owl-dot:focus::before {
        opacity: 0.5; }
    .slider-nav__dots .owl-dot.active::before, .slider-nav__dots.slider-nav__dots button.owl-dot.active::before {
      opacity: 1; }
  .slider-nav__indexes {
    text-align: right;
    min-width: 38px;
    margin-left: 12px;
    font-weight: 600;
    font-size: 16px; }

.hero-slider-wrapper .slider-nav {
  position: absolute;
  z-index: 2;
  top: 26px;
  right: 16px; }

.about-slider-wrapper {
  display: flex;
  flex-direction: column; }
  .about-slider-wrapper .slider-panel {
    order: -1;
    margin-bottom: 26px; }

.main-about__content {
  padding: 50px 0 20px; }

.title--about-slider {
  margin-bottom: 30px; }

.title--main-about {
  margin-bottom: 30px; }

.about-slider__text {
  line-height: 1.7; }
.about-slider__text p {
  margin-bottom: 1em; }
.about-slider .slider-nav {
  margin-left: 30px; }

.default-slider-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px; }
  .default-slider-header__title {
    margin-right: 20px; }
  .default-slider-header__nav {
    width: 100%;
    flex-grow: 1;
    margin-top: 30px; }
  .default-slider-header__right-link {
    margin-left: auto; }

.slider-panel {
  display: flex; }
  .slider-panel__arrows {
    margin-right: 24px; }
  .slider-panel__nav {
    margin-left: auto; }

.slick-dots {
  display: inline-flex;
  width: 48px;
  list-style: none;
  margin: 0;
  padding: 0; }
  .slick-dots li {
    width: 100%; }
  .slick-dots button {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    margin: 0;
    padding: 4px 0;
    border: 0;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 0;
    cursor: pointer;
    outline: 0; }
  .slick-dots button::before {
    content: '';
    display: block;
    opacity: 0.3;
    height: 2px;
    width: 100%;
    background-color: #373c41;
    transition: opacity 0.2s; }
  .slick-dots button:hover::before, .slick-dots button:focus::before {
    opacity: 0.5; }
  .slick-dots .slick-active button::before {
    opacity: 1; }

.slider-arrows {
  display: flex;
  align-items: center; }

.slider-arrows button {
  -webkit-appearance: none;
  margin: 0;
  padding: 4px;
  border: 0;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 0;
  cursor: pointer;
  outline: 0; }
  .slider-arrows button.disabled {
    opacity: 0.3;
    cursor: default; }
  .slider-arrows button.owl-prev, .slider-arrows button.slick-prev {
    margin-right: 56px; }
  .slider-arrows button svg {
    width: 12px;
    height: 20px;
    fill: #373c41; }
  .slider-arrows button:not(.disabled):hover svg, .slider-arrows button:not(.disabled):focus svg {
    fill: #a7e600; }

.footer {
  background-color: #373c41;
  color: #ffffff; }

.f-top {
  display: flex;
  padding: 30px 0 26px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .f-top__left {
    padding-top: 16px; }
  .f-top__right {
    margin-left: auto; }

.f-logo {
  display: block;
  width: 49px; }
  .f-logo img {
    display: block;
    max-width: 100%; }

.f-contact__title {
  margin: 0 0 28px;
  font-size: 20px;
  font-weight: bold; }
.f-contact .socials {
  margin-bottom: 16px;
  margin-left: -11px;
  margin-right: -11px; }
.f-contact .socials__item {
  padding-left: 11px;
  padding-right: 11px; }
.f-contact .socials__link svg {
  width: 24px;
  height: 24px;
  fill: #ffffff; }
.f-contact .socials__link:hover svg, .f-contact .socials__link:focus svg {
  fill: #a7e600; }
.f-contact__feedback-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 600; }
  .f-contact__feedback-link:hover, .f-contact__feedback-link:focus {
    color: #a7e600; }

.f-bottom {
  padding: 26px 0 30px; }
  .f-bottom__copyright {
    line-height: 1.7;
    margin-bottom: 26px; }
  .f-bottom__legal {
    font-weight: 600;
    line-height: 1.7; }
    .f-bottom__legal:hover, .f-bottom__legal:focus {
      color: #a7e600; }

.breadcrumbs {
  display: none;
  padding: 20px 0 36px; }

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px; }
  .breadcrumbs-list__link {
    display: block;
    position: relative;
    color: inherit;
    text-decoration: none; }
    .breadcrumbs-list__link.breadcrumbs-list__link--link {
      opacity: 0.7;
      transition: all 0.2s ease-out; }
      .breadcrumbs-list__link.breadcrumbs-list__link--link:hover, .breadcrumbs-list__link.breadcrumbs-list__link--link:focus {
        opacity: 1;
        color: #92ca00; }
    .breadcrumbs-list__link.breadcrumbs-list__link--link::after {
      display: inline-block;
      content: '/';
      padding: 0 10px;
      color: #373c41; }

.news-detail-page {
  padding-bottom: 30px;
  max-width: 781px;
  margin: 0 auto; }
  .news-detail-page__date {
    display: block;
    margin-bottom: 30px;
    opacity: 0.7; }

.news-detail-text {
  line-height: 2; }
  .news-detail-text p {
    margin: 0 0 2em; }

.bottom-btn {
  text-align: center;
  padding: 50px 0; }

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 46px;
  margin-left: -14px;
  margin-right: -14px; }
  .gallery-list__item {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px; }

.faq-page {
  overflow: hidden;
  flex-grow: 1; }

.faq-col {
  padding: 40px 0 10px; }
  .faq-col__bottom {
    display: none; }
  .faq-col__text {
    line-height: 1.5;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px; }

.faq-main {
  padding-top: 40px; }

.faq__left {
  position: relative;
  background-color: #f6f6f6; }
  .faq__left::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50px;
    right: -50px;
    background-color: #f6f6f6; }
.faq__left-content {
  position: relative; }
.faq__right {
  background-color: #ffffff; }

.faq-list {
  padding-bottom: 4px; }
  .faq-list__item {
    margin-bottom: 40px; }

.faq-item {
  line-height: 1.7; }
  .faq-item__question {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
    .faq-item__question svg {
      display: block;
      flex-shrink: 0;
      width: 20px;
      height: 12px;
      margin-top: 6px;
      fill: #373c41; }
  .faq-item__question-arrow {
    align-self: flex-start;
    display: block;
    margin-right: 14px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform-origin: 50% 60%;
    -moz-transform-origin: 50% 60%;
    -ms-transform-origin: 50% 60%;
    -o-transform-origin: 50% 60%;
    transform-origin: 50% 60%; }
  .faq-item__question-arrow.__open {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .faq-item__answer {
    display: none;
    padding-top: 30px;
    margin-left: 34px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(55, 60, 65, 0.1); }

.faq-bottom--mobile {
  padding: 40px 0;
  background-color: #f6f6f6; }

.article-detail {
  max-width: 705px;
  line-height: 2;
  padding: 20px 0; }
  .article-detail__lead {
    font-weight: bold; }

.article-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  margin: 1.7em 0 1em; }

.article-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2; }

.article-cite {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  padding-left: 40px; }
  .article-cite::before {
    content: '\"';
    line-height: 0.8;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    color: #a7e600; }

.article-img-full img {
  display: block;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
